{% extends 'main/layout.html' %}

{% block title %}
        Новости
{% endblock %}

{% block content %}
        <h1>Новости</h1>
        <br>
        {% if news %}
                {% for i in news %}
                        <div class="alert alert-warning">
                                <h2>{{ i.title }}</h2>
                                <p>
                                <h3>{{ i.anons }}</h3>
                        </div>
                {% endfor %}
        {% else %}
                <p>Нет новостей</p>
        {% endif %}
{% endblock %}