sidebar {
    float: left;
    background: #f8f8f8;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

main .features {
    float: left;
    color: black;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

form {
    margin-left: 30%;
    width: 500px;
    margin-top: 50px;
}